<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nyheter.joshuapro.nyheter" >

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:name=".SaveAndRead"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Aftonbladet"
            android:label="@string/title_activity_aftonbladet" >
        </activity>
        <activity
            android:name=".Expressen"
            android:label="@string/title_activity_expressen" >
        </activity>
        <activity
            android:name=".Favorit"
            android:label="@string/title_activity_favorit" >
        </activity>
        <activity
            android:name=".onload"
            android:label="@string/title_activity_onload" >
        </activity>
    </application>

</manifest>
